//
//  Base.xcconfig
//
//  Created by Evgeny Karkan on 28.08.14.
//  Copyright (c) 2014 Evgeny Karkan. All rights reserved.
//


PRODUCT_NAME      = $(TARGET_NAME)
INFOPLIST_FILE    = $(TARGET_NAME)-Info.plist
WRAPPER_EXTENSION = app

ARCHS[sdk=iphoneos*] = $(ARCHS_STANDARD_INCLUDING_64_BIT)

SKIP_INSTALL = NO

DEBUG_INFORMATION_FORMAT = dwarf-with-dsym

GCC_VERSION              = com.apple.compilers.llvm.clang.1_0

GCC_C_LANGUAGE_STANDARD     = c99
CLANG_CXX_LANGUAGE_STANDARD = c++11
CLANG_CXX_LIBRARY           = libc++

GCC_PRECOMPILE_PREFIX_HEADER = YES
GCC_PREFIX_HEADER            = $(TARGET_NAME)-Prefix.pch

CLANG_ENABLE_OBJC_ARC = YES

GCC_DYNAMIC_NO_PIC             = NO
GCC_INLINES_ARE_PRIVATE_EXTERN = YES

//GCC_SYMBOLS_PRIVATE_EXTERN = NO

CLANG_WARN__DUPLICATE_METHOD_MATCH = YES
CLANG_WARN_EMPTY_BODY              = YES
CLANG_WARN_CONSTANT_CONVERSION     = YES
CLANG_WARN_ENUM_CONVERSION         = YES
CLANG_WARN_INT_CONVERSION          = YES
CLANG_WARN_BOOL_CONVERSION         = YES

//GCC_ENABLE_OBJC_EXCEPTIONS = NO

HEADER_SEARCH_PATHS = $(SRCROOT)